# @param {object} argocd ArgoCD parameters section
argocd:
  # @param {string} namespace Namespace where ArgoCD has been installed
  namespace: argocd
  # @param {object} application ArgoCD application configuration section
  application:
    # @param {string} project ArgoCD Application project
    project: default
    # @param {object} source ArgoCD Application source parameters section
    source:
      # @param {string} path ArgoCD Application source path inside the repository created by the template
      path: chart/
    # @param {object} project ArgoCD Application destination parameters section
    destination:
      # @param {string} server ArgoCD Application target cluster
      server: https://kubernetes.default.svc
      # @param {string} namespace ArgoCD Application target namespace
      namespace: fireworks-app
    # @param {object} syncPolicy ArgoCD Application synchronization policies section
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true

git:
  deploymentServiceUrl: http://deployment-service.krateo-system.svc
  unsupportedCapabilities: true
  deletionPolicy: Orphan
  insecure: true
  fromRepo:
    url: https://github.com/krateoplatformops/krateo-v2-template-fireworksapp
    branch: 3-implement-the-chart
    path: skeleton/
    credentials:
      authMethod: basic
      secretRef:
        namespace: krateo-system
        name: github-repo-creds
        key: token
  toRepo:
    scmUrl: https://github.com
    org: krateoplatformops
    name: fireworksapp-test-v2
    branch: main
    path: /
    credentials:
      authMethod: basic
      secretRef:
        namespace: krateo-system
        name: github-repo-creds
        key: token
    apiUrl: https://api.github.com
    private: false
    initialize: true
    deletionPolicy: Delete
  replaceValues:
    host: localhost
    organizationName: myorganization
    schema: myschema
    pippo: true
    pluto: 123123