apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fireworks-app.fullname" . }}-replace-values
  labels:
    {{- include "fireworks-app.labels" . | nindent 4 }}
data:
  values: '{ "organizationName": "{{ .Values.git.toRepo.org }}", "repositoryName": "{{ .Values.git.toRepo.name }}" }'
